* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: serif;
  }
  body{
    background-color: #bfbfbf;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }

  
  nav {
    background: #2c3335;
    display: flex;
    padding: 1rem 5rem;
    border-bottom: 2px solid #ffffff;
    max-height: 87px;
  }
  
  .logo,
  .nav-items {
    flex: 1;
  }
  
  .logo p {
    font-style: "Times New Roman";
    font-size: 32px;
    color: #ffffff;
    padding: 0.3rem;
    font-weight: bold;
  }
  
  .nav-items ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0.5rem;
  }
  
  .nav-items ul li {
    flex: 1;
    text-align: right;
    max-width: 150px;
    font-size: 20px;
    margin-top: 3.5px;
  }
  
  .nav-items ul li:hover a {
    color: #e8ebee;
  }
  
  #cart {
    font-size: 32px;
    margin: 0;
  }
  
  #cart a {
    position: relative;
  }
  
  #cart span {
    display: block;
    position: absolute;
    border-radius: 100px;
    background: red;
    padding: 1px 6px;
    font-size: 15px;
    top: -5px;
    right: -10px;
  }

.help {
    padding: 1rem 1rem 1rem 2rem;
    color: black;
    
}
.aboutus {
    padding: 1rem 1rem 1rem 2rem;
    color: black;

}
.disclaimer {
    text-align: center;
}
.aboutus ,.help, h2 {
    text-align: center;
}


footer {
    text-align: center;
    background-color: #2c3335;
    color: #ffffff;
    font-style: arial;
  }
  
  .footer-copyright {
    background-color: #2c3335;
  }
  .disclaimer{
      padding-top: 0.5rem;
  }
  .icon{
    margin: 1.5%;
  }
  a{
      color: #ffffff;
  }
  a:hover {
      color: #737373;
  }


  @media screen and (max-width: 650px) {
    .container {
      height: auto;
    }
  }
 @media screen and (max-width: 550px) {
   
  
    nav {
      padding: 1rem 1rem;
    }
  
    .logo {
      flex: 1;
    }
  
    .nav-items {
      flex: 3;
    }
  
    .logo p {
      font-size: 28px;
    }
  
    .nav-items ul li {
      max-width: 70px;
      font-size: 18px;
    }
    footer{
        padding: 1rem;
    }
  

  }
  